.listing-list{
    font-size: 18px;
  }
 
.main-index-title{
    font-size: 18px;
}

.login-signup{
  display: flex;
  flex-direction: column;
  // color: aqua;
  // background-color: aquamarine;
}

.blank{
  border-radius: 25px;
  color: aqua;
}
.listingpage{
  display:flex;
  flex-direction: row;
  // background-color: slategrey;
}

.leftside{
  display: flex !important;
  text-decoration: none;
}

.rightside{
  flex:3;

  // font-size:40px;
}

.errorsCss{
  color: red;
}

// .rightside2{
//   flex:1;
//   font-size:400px;
// }

.index-img{
  width: 200%;
  height: auto;
  border-color: blueviolet;
  border-right: 100px;
}

.index-listing-con{
  // border-color: aqua;
  // background-color: crimson;
  display: flex;
  // align-items: center;
  // flex-direction: row;
  // border: 1000px;
  // width: 500px;
}

// .greeting_container2{
//   margin-left: 100000px;
// }

.index-left{  
  // background-color: darkcyan;
  // display: flex;
  max-width: 500px;
  // flex: 1;

} 

.mapSingle{
 border-radius: 25px;
}

.index-right{
  background-color: rgb(0, 146, 68);  
  display: flex;
  flex: 2;
  align-self: flex-start;
  position: sticky;
  // height: 1000px;
  // margin-bottom: auto;
  // position: -webkit-sticky !important;
  // position: sticky !important;
  // position: static !important;

  // align-self: flex-start
  // right: 0;
  // width: 300px;
  // border: 3px solid #73AD21;
}

.map{
  
  // position: -webkit-sticky;
 
  // top: 100px;
  // background-color: yellow;
  // padding: 50px;
  // font-size: 20px;
  position: fixed !important;
  // margin-top: 100px;
  
}
.place-holderstay{
  font-size: 14px;

}

.showing-bundle{
  display: flex;
  height: 500px;
  // flex-direction: column;
}

.showing-bundle-left{
  display: flex;
  width: 50%;
  padding: 4px;
  // padding-right: 4px;
  // padding-top: 4px;
  // padding-bottom: 4px;

}

.showing-bundle-right{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding: 4px;
}


.every-listing{
  font-size: 26px;
  margin-top: 100px;
}

.list-indexes{
  display: flex;
  flex-direction: column;
}

.listing-show-box{
  display: flex;
  flex-direction: column;
  // align-items: center;
}
.show-page0{
  // margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  // margin-right: auto;
  justify-content: flex-start;
  // width: 1000px;
  align-items: center;
  // flex-basis: 1250px;
  // flex-wrap: wrap;
}

.show-page{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  // margin-left: auto;
  // margin-right: auto;
  justify-content: flex-start;
  max-width: 1120px;
  // align-items: center;
  // flex-basis: 1250px;
  flex-wrap: wrap;

  
}
// .bookingpage2{
//   margin-top:100px;
// }

.listings-index-box2{
  padding-bottom: 100px;
}


.bookingpage1{
  background-color: aqua;
  padding: 10px;
  margin:10px;
  border-radius: 25px;
}


.bookingpagetxt{
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight:900 !important; 
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  // margin-right: 40%;
  align-items:flex-start
}
  
.Delete-Booking{
	box-shadow: 3px 8px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:4px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	padding:5px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.Delete-Booking:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.Delete-Booking:active {
	position:relative;
	top:1px;
}





.delete-booking,.edit-booking {
	box-shadow:inset 0px 39px 0px -24px #e67a73 !important;
	background-color:#e4685d  !important;
	border-radius:23px  !important;
	border:6px solid #ffffff  !important;
	display:inline-block  !important;
	cursor:pointer  !important;
	color:#ffffff  !important;
	font-family:Arial  !important;
	font-size:23px  !important;
	padding:11px 42px  !important;
	text-decoration:none  !important;
	text-shadow:0px 1px 0px #b23e35  !important;
}
.delete-booking:hover {
	background-color:#eb675e  !important;
}
.delete-booking:active {
	position:relative  !important;
	top:1px  !important;
}
        

.photo{
  height: 100%;
  width: 100%;
  object-fit: cover; 
  padding-bottom: 10px;
  border-radius: 25px 0px 0px 25px;
  // display: inline-flex;
  // flex-wrap: wrap;
}

.leftsidePic2{
  max-height: 200px;
  max-width: 300px;
  object-fit:cover; 
  // padding-bottom: 10px;
  border-radius: 25px;
}

.leftsidePic3{
  border-radius: 25px;
}

.photo21{
  height: 50%;
  width: 49%;
  object-fit: cover;
  // border-radius: 0px 0px 25px 0px;
  padding-right: 2px;
  padding-bottom: 2px;

}

.photo22{
  height: 50%;
  width: 49%;
  object-fit: cover;
  border-radius: 0px 25px 25px 0px;

  padding-left: 2px;
  padding-bottom: 2px;

}

.photo23{
  height: 49%;
  width: 49%;

  object-fit: cover;

  padding-right: 2px;
  padding-top: 2px;

}

.photo24{
  height: 49%;

  width: 49%;
  object-fit: cover;
  border-radius: 0px 25px 25px 0px;

  padding-left: 2px;
  padding-top: 2px;
  
}

// .photo21{
//   padding-right:10px;
//   height: 49%;
//   width: 49%;
//   object-fit: cover;
//   border-radius: 25px;
// }



img {
  max-width: 100%;
  max-height: 100%;
}

// .Mybooking{
  
// }


// .logout {
// 	box-shadow:inset 0px 1px 0px 0px #dcecfb;
// 	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
// 	background-color:#bddbfa;
// 	border-radius:29px;
// 	border:1px solid #84bbf3;
// 	display:inline-block;
// 	cursor:pointer;
// 	color:#ffffff;
// 	font-family:Arial;
// 	font-size:21px;
// 	font-weight:bold;
// 	padding:7px 25px;
// 	text-decoration:none;
// 	text-shadow:0px 1px 0px #528ecc;
// }
// .logout:hover {
// 	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
// 	background-color:#80b5ea;
// }
// .logout:active {
// 	position:relative;
// 	top:1px;
// }

        

.listing-info1{
  // font-family: 'Montserrat', sans-serif;
  // font-size: 26px;
  // letter-spacing: 2px;
  // word-spacing: 2px;
  // color: #000000;
  // font-weight: normal;
  // text-decoration: none;
  // font-style: normal;
  // font-variant: normal;
  // text-transform: none;
  // margin-right: 40%;
  // align-items:flex-start
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 0;
  text-decoration: none;
  // width: 100%;

  // border-bottom: gray solid 1px;



}

.listing-info{
  width: 100%;
}

.listing-info2{
  width: 10%;
  border-bottom: gray solid 1px;
  text-decoration: none;


}

.listing-info3{
  color: #222222 !important;
  font-size: 16px !important;
  text-decoration: none;

}

.listing-info4{
  display: flex;
  flex-direction: row;
    // text-align-last: right;
    text-align: right;
    justify-content:space-between;
    font-size: 20px !important;
    text-decoration: none !important;
    font-size: 16px !important;
    font-weight: 600;
}

.listing-info42{
  // display: inline-flex;
  display: flex;
  flex-direction: row;
  // justify-content:space-between !important;

    //  text-align-last: right;

}

.listing-info422{
  font-size: 14px !important;
  font-weight: 300;
  color:gray;
}
// .portrait {
 
//   .photo {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row-reverse;
//     justify-content: center;
//     align-items: start;
//     align-content: start
//   }
//   .photo:after {
//     display: block;
//     content: " placeholder ";
//     margin: 13px;
//     flex: 999 999 auto;
//   }
//   .img {
//     flex: 1 1 auto;
//     margin: 13px;
//   }
// // }
.two-calendar{
  display: flex;
}

.listing-mid-section{
  display: flex;
}

.mid-left-section{
  width: 70%;
}

.mid-right-section{
  width: 30%;
}

.CheckinOuter{
  border: 2px solid;
  border-color: gray;
  -webkit-box-shadow: 1px 2px 15px 7px #CCCCCC; 
  box-shadow: 1px 2px 15px 7px #CCCCCC;
  border-radius: 26px;
  padding: 10px;  
  // position: -webkit-sticky;
  // position: sticky;
  // top: 60%
  margin-top: 230px;
  // margin-bottom: auto;
  }

.priceReview{
  display: flex ;
  justify-content: space-between;
  padding: 10px;
}

.checkinCheckout{
  display: flex;
  justify-content: center;

}

.review-outer-con{
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid;
  border-color: lightgray;
  padding:32px
}

.review-outer-con div{
  width: 50%;
}

.right-bar{
  // background-color: black;
  text-align: center;
}

.left-bar{
  // background-color: black;
  text-align: center;
}



.progress{
  // color:red;
  // background-color: red;
  padding:10px;
  // width: 200px;

}

.left-attr{
  display: flex;
  justify-content:space-between;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.right-attr{
  display: flex;
  justify-content:space-between;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}

.calendar{
  color: black;

  background-color:white;
  border-radius: 25px;
  border-color: black;
  padding: 32px;
}

// .react-calendar__tile react-calendar__month-view__days__day react-calendar__month-view__days__day--neighboringMonth{
// color:red;
// }

.top-text{
  font-size: 22px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}

.sub-text{
  font-size: 14px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}

.calendar-con{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: lightgray;
  background-color: skyblue;
  border-radius: 25px;
  // border-color: ;
  // border-width: 90%;
}

.react-calendar,.calendar{
  // background-color: skyblue;

}

.react-calendar__tile {
  // background-color: red;
  // color

}

// .react-calendar__tile{
//   background-color: red;
  
// }

.perkcommentcon{
  display: flex;
  padding: 10px;
}

.perkCommentCon2{
  display: flex;
  flex-direction: column;
  vertical-align: text-top;
  text-align: left;
  // padding: 01
  // align-items: flex-end;
}

.perkCommentCon div{
  margin-left: 10px; 
  width: 100%;
}

.perkImg {
  width: 30px;
}

.listing-info-des{
  color: #222222 !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  line-height: 20px !important;
  padding-top: 48px !important;
}

.listing-info-guest{
  color: #222222 !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

.random-description{
  color: #222222 !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  // border-top: solid;
  border-bottom: 1px solid;
  border-color: lightgray;
  padding:32px
}

.reviewStar{
  color: #222222 !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-weight: 800 !important;
  font-size: 20px !important;
  line-height: 20px !important;
  padding: 10px;
}

.singleReviewOuterDiv{
  display: flex;
  flex-wrap: wrap;
}

.singleReview{
  width: 50% ;
  padding-bottom: 40px;
  padding-top: 40px;
  // background-color: cyan;
  border-radius: 25px;
}

.singleReviewUpperCon{
  display: flex;
}

.personIconCircle{
  // background-color: red;
  border-radius: 25px;
  // width: 50%;
  // height: 50%;
  // margin-left: 100px;
  // margin-right: auto;

}

.personIconCircle > * {

  // margin-right: auto;

}

// .personalicon{
  // margin-left: 50%;
//   margin-right: 50%;
// }

.listing-info-title{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 26px !important;
  line-height: 30px !important;
  font-weight: 600 !important;
}

.listing-info-review-title{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 30px !important;

  display: flex;
  flex-direction: row;
}

// .asd{
//   vertical-align: text-top;

// }

.calendar-con button {
  border:none;
  background-color: white;
  padding: 10px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 14px !important;
  font-weight: 550 !important;
  // color:white;
}

.calendar-con button:hover {
  background-color: rgb(228, 53, 0);
}

// .checkinDiv{
//   // width: 50%;
// }

// .checkoutDiv{
// }

.CheckTextBox{
  width: 90%;
  // font-weight: 600;
  // font-size: 20px;
}

.labelsName{
    font-weight: 300;
  font-size: 16px;
}


.checkAva {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
	background-color:#f24537;
  background-image: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
	border-radius:14px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:16px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.checkAva:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.checkAva:active {
	position:relative;
	top:1px;
}


.checkPrice{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 26px !important;
  font-weight: 550 !important;

}

.night{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 16px !important;
}

.checkinreviewText{ 
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 16px !important;
}

.avaSum{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 16px !important;
  text-decoration: underline;
  color: gray
}

.perkupperText{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 16px !important;
  font-weight: 600;
}

.perkbottomText{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 14px !important;
  color: rgb(113, 113, 113);
}

.reviewerName{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 16px !important;
  font-weight: 600;
}

.reviewerYear{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 14px !important;
}

.reviewDes{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 16px !important;
  word-wrap: break-word;
}

.deleteandedit{
  display: flex;
  justify-content: space-between;
}

.review-des{
  width: 1000px;
}

.leftsidePic{
  display: flex;
  padding: 10px;
  border-bottom: gray solid 1px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


// .explore_Nearby{
//   max-width: 1120px;
// }

.test{
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}
// .calendar_Edit{
//   // display: flex;
//   // padding-left: auto;
//   // left: 50%;
//   // margin-right: auto !important;
//   justify-content: center !important;
//   background-color: red !important;
//   // color: red !important;
// }

.calendar_Edit {
  margin-left: 320px;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
	background-color:#f24537;
  background-image: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
	border-radius:14px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:16px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.calendar_Edit:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.calendar_Edit:active {
	position:relative;
	top:1px;
}

.review_edit_button_div{
  text-align: center;
}


.review_edit_button {
  // margin-left: 320px;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
	background-color:#f24537;
  background-image: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
	border-radius:14px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	// padding:16px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.review_edit_button:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.review_edit_button:active {
	position:relative;
	top:1px;
}

.review-form-container{
  // background-color: red;
  // width: 50%;
  border-top: lightgray solid 1px;
  // padding-top: 30px;
  // margin-top: 30px;
  border-bottom: lightgray solid 1px;

}

.review-form-container2{
  // background-color: red;
  // width: 50%;
  // border-top: lightgray solid 1px;
  // padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.singleMapDiv{
  margin-top: 30px;
}
.description-input,.rating-input{
  // background-color: blue;
  padding: 20px;
  border-radius: 25px;
}

.rating-input{
  // background-color: blue;
  padding: 5px;
  border-radius: 25px;
}

// .singleReview{

// }

body {
  // font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.booking_msg{
  font-size: 24px;
}