.listing-list{
    font-size: 18px;
  }
 
.main-index-title{
    font-size: 18px;
}

.login-signup{
  display: flex;
  flex-direction: column;
  // color: aqua;
  // background-color: aquamarine;
}

.blank{
  border-radius: 25px;
  color: aqua;
}
.listingpage{
  display:flex
}

.leftside{
  flex:1
}

.rightside{
  flex:2;
  font-size:400px;
}

.rightside2{
  flex:1;
  font-size:400px;
}