.listing-list{
    font-size: 18px;
  }
 
.main-index-title{
    font-size: 18px;
}

.login-signup{
  display: flex;
  flex-direction: column;
  // color: aqua;
  // background-color: aquamarine;
}

.blank{
  border-radius: 25px;
  color: aqua;
}
