label {
  // color: #d9d9d9;
  // background: #e8e8e8;
  text-shadow: -1px -1px 1px rgba(100,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  // color: #d9d9d9;
  // background: #e8e8e8;
  align-items: center;
  align-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  }

.bottomComp{
    margin-left: auto;
    margin-right: auto;
    // width: 1000px;
}

.hosting{
  // display: flex;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}



#background{
    
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 50%;
    overflow: hidden;
    position: fixed;
  
    z-index: -99;
    }

  .backgroundDiv{
      width: 400;
      height: 400;
    }


 .navbar{
    // position: absolute;
     display: flex;
     background-color: skyblue;
     border-bottom: 1px solid;
    padding: 10px;
    // box-shadow: 5px 10px #888888;

   


     height: 50px;
     width: 100%;
    // align-items: center;
    // text-align: center;
    // margin-left: 500px;
    // background-color: rgb(26, 26, 77);
    //  margin-right: 500px;

 }
 .search_container{
    width: 100%;
    text-align:center;
 }
 .listings-index-box{
  //  position: fixed !important;
 }
 
.fixedNav{
  position: fixed;
  width: 100%;
  z-index: 5;
}

a{
//  text-decoration: none; 
}

 .navbar0{
    // position: absolute;
     display: flex;
     width: 100%;
    position: fixed !important;
     justify-content: center;   
// 


    //  height: 50px;
    //  width: 500px;
    // align-items: center;
    // text-align: center;
    // margin-left: 500px;
    // background-color: rgb(26, 26, 77);
    //  margin-right: 500px;

 }
//  div.splash > section{
//     width: 500;
//  }
 .greeting_container{
    font-size: large; 
   //  margin-left: 500px;
}


.signup-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    
}

.signup-form.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
  }
 .close-x{
   color: red;
  //  background-color: red;
 }
  .signup-input,.login-input {
    // margin-left: 500px;
    // margin-right: auto;
    display: flex;
    flex-direction: column;
  }
 
  .signup-form-box {
    // outline: 1px solid black;
    // padding: 20px;
    // background: white;
    position: relative;
  }
  



// label{
//   align-self: flex-end;
// }

.login-form-container,.signup-form-container {
    // display: flex;
    // justify-content: center;
    margin-top: 100px;
    font-size: 20px;
    border-radius: 250px;

  }
 
  .login-form,.signup-form {
    display: flex;
    // justify-content: ;
    align-content: left;
    flex-direction: column;
    min-width: none;;
  }
 
  .login-input,.signup-input {
    // margin-left: 20px;
    border-radius: 250px;
    width: 80%;
    // padding: 5px;
    font-size: 16px;
    border-width: 7px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 32px;
    // box-shadow: 8px 0px 16px rgba(66,66,66,.75);
    // text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    // margin-left: 10px;
    
  }
 
  .login-form-box,.signup-form-box{
    // outline: 1px solid black;
    // padding: 20px;
    background: white;
    position: relative;
  }
  
  .session-submit{
  box-shadow:inset -1px 1px 0px -3px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:39px;
	border:5px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;

  }

  .session-submit:hover {
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
  }
  .session-submit:active {
  position:relative;
	top:1px;
  }
  
          

 
 .splash{
    background: url("https://i.imgur.com/qSaKqmx.jpeg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

 }

 .navbar3{
    display: flex;
    background-color: skyblue;
 }

 .midLinkBundle{
    // display: flex;
    // justify-content: space-between;  
    // font-size: 13px;
    margin-left: auto;
    margin-right: auto;

    // margin-top: 11px; 
    // padding: 10px;
 }

 .midLink{
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
    padding: 10px 16px !important;   
    text-decoration: none; 
 }
 .midLink:visited{
    color: rgb(255, 255, 255);   
    text-decoration: none;
 }

 .search-input{
    width: 300px;
    height: 30px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;   
    border-right: none;
    // margin-right:auto;
    // margin-left:auto;

 }

.combined{
    margin-right:auto;
    margin-left:auto;
}

 .searchbutton{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;  
    border-left: none;
    background-color: white;
    margin: left;
    // display: flex;
    // size: 300px;
    // border-color: gray;
    // border
}
 .search_bar{
     display: inline-flex;
    //  align-content: center;
   
    margin-right:auto;
    margin-left:auto;
     border-color: gray;

 }

 .explore_nearby{
    display: flex;
    justify-content: space-between;  
    margin-top: 50px; 
    margin-left: auto;
    margin-right: auto;
    max-width: 1120px;
    // margin-right: 250px;
    
}   

.explore_nearby2{
    display: flex;
    justify-content: space-between;  
    margin-top: 50px; 
    margin-left: auto;
    margin-right: auto;

    max-width: 1120px;


    // margin-left: 250px;
    // margin-right: 250px;
}

.en{
    margin-top: 50px;
    // margin-left: 250px;
    font-family: cursive; 
    font-weight: 600;
    font-size: 32px;
    // margin-left: 250px;
    // margin-bottom: 50px;
}

.card{
    display: flex;    
}

.marker{
  color: red;
  // background-color: red;
}

.card2{
    // max-width:50% !important;
    max-height:50% !important;  
    height:auto !important;
    justify-content: space-between !important;  
    border-radius: 10px !important;

}

.logo{
    max-width:100%;
    max-height:100%;  
    // height:auto;
    // justify-content: space-between;  
    // border-radius: 25px;
}
.Longestcarddiv{
  // width: 80%;
  display:flex;
  margin-left: auto;
  margin-right: auto;
}


.Longestcard{
    // display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    // width: 80%;
    background-color: transparent;
    // margin-top: 4000px;
}
// .search_bar{
//     width: 500px;
// }


.login-signup-button,.logout,.My-Profile  {
	box-shadow:inset 0px 1px 0px 0px #bee2f9 !important;
  background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%) !important;
	background-color:#63b8ee !important;
	border-radius:6px !important;
	border:1px solid #3866a3 !important;
	display:inline-block !important;
	cursor:pointer !important;
	color:#14396a !important;
	font-family:Arial !important;
	font-size:11px !important;
	font-weight:bold !important;
	padding:6px 8px !important;
	text-decoration:none !important;
	text-shadow:0px 1px 0px #7cacde !important;

  
}
.login-signup-button:hover,.logout,.My-Profile {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.login-signup-button:active{
	position:relative;
	top:1px;
}
a:visited {
  color:black !important;

}

a:link {
  color: black;
}

.My-Profile:visited{
  color:#14396a;
  text-decoration: none;

}


.biggercard2{
    max-width:100%;
    // max-width:1000px;
    display: flex;
    height:250px;
    justify-content: space-between;  
    border-radius: 25px;
    // background: #73AD21;
    // padding: 200px;
    // width: 200px;
    // height: 150px;
}
.upperText {
    white-space: pre-line;
    margin-top: 2%;
    font-weight: 600;
    font-size: 16px;
    margin-left: 5%;

  }


.lowerText {
    white-space: pre-line;
    margin-top: 2%;
    // font-weight: 600;
    font-size: 16px;
    margin-left: 5%;

}

.Live_anywhere{
    display: flex;
    justify-content: space-between;  
    // margin-top: 10px; 
    // padding: 20px;
    // margin-left: 250px;
    // margin-right: 250px;
    // margin-left: auto;
    // margin-right: auto;

}

.display-linebreak2 {
    white-space: pre-line;
    justify-content: center;  
    font-weight: 600;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 5px;
    // margin-left: 250px;

  }



  .modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(34, 34, 34,0.6);
    z-index: 10;
  }
  
  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 20%;
    height: 40%;
    border-radius: 10px;
  }
//  .card{
//     background: url("https://a0.muscache.com/im/pictures/f3ebcc73-30b2-469f-b6ba-0578fdaaa649.jpg?im_q=medq&im_w=240") no-repeat fixed center;    
//     width: 50px;
//     height: 50px;
//     background-color: black;
//  }

//  .explore_nearby{
    // display: flex;
    // justify-content: space-between;   
    // margin-top: 10px;
    // offset: 100px;
// }

//   .leftlogo{
//     display: flex;
//     // background-image: url("logo.png");
//     // background-repeat: no-repeat;
//     width: 500px;
//     height: 100px;
//     z-index: 1;    
//     }   

//     .search{
//         display: flex;
//         // background-image: url("logo.png");
//         // background-repeat: no-repeat;
//         width: 1500px;
//         height: 100px;
//         z-index: 1;    
//     }   

//     .profile{
//         display: flex;
//         // background-image: url("logo.png");
//         // background-repeat: no-repeat;
//         width: 500px;
//         height: 100px;
//         z-index: 1;    
//     }  
  

.Explore_nearby_con{
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}


.live_Anywhere_con{
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.twoButton,.login-signup{
  // display: flex;

  padding-right: 8px;
}

.twoButton > div{
  // display: flex;

  padding:1px 6px
}

.listing-info43{
  // text-align-last: right !important;
}